.Characters {
  padding-top: 20px;
}

.Characters-favorites {
  text-align: end;
}
.Characters-favorites ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Characters-favorites li {
  font-size: 2.2rem;
  list-style: none;
  text-decoration: underline;
}

.Characters-search input {
  width: 60%;
  min-width: 300px;
  padding: 10px;
  font-size: 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.Characters-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 28px;
  padding-top: 16px;
  padding-bottom: 72px;
}

.Characters-item {
  width: 100%;
  height: fit-content;
}

.Characters-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.Characters-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.Characters-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 6px;

  display: none;
}
.Characters-description span {
  font-size: 1.8rem;
  color: #98ca3f;
  font-weight: bold;
}
.Characters-image:hover > .Characters-description {
  display: flex;
}

.Characters-name {
  font-size: 2rem;
  margin-bottom: 15px;
}

.Characters-button {
  width: 120px;
  padding: 10px 0;
  background: #98ca3f;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 8px 0 #333333;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 748px) {
  .Characters {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .Characters {
    grid-template-columns: 1fr;
  }
}
